@{
    Layout = null;

    var taskName = "Clean house";
    var completed = "Yes";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@taskName</h1>
        <h3>Has it been completed? @completed</h3>
    </div>
</body>
</html>
